HrDepartment/ClientHrDepartment/Connected Services/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HrDepartment" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HrDepartment" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DepartmentInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Associates" type="xs:int" />
      <xs:element minOccurs="0" name="Engineers" type="xs:int" />
      <xs:element minOccurs="0" name="Managers" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DepartmentInfo" nillable="true" type="tns:DepartmentInfo" />
</xs:schema>